@import url("https://fonts.googleapis.com/css?family=Codystar:300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

#neons {
    margin-top: 2rem;
}

#title {
    font-size: 50px;
	font-weight: 700;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('/src/assets/title-bg.png');
    background-repeat: repeat-y;
    font-family: 'Cedarville Cursive', cursive;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.71);
    padding: 15px;
}

#neons h1 {
    font-size: 4rem;
    font-family: "Codystar";
    font-weight: bold;
    text-align: center;
    animation: glow 2s ease-in-out infinite alternate;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        color: #fff;
        text-shadow: 0 0 10px #ffe002, 0 0 20px #ffe002, 0 0 30px #ffe002, 0 0 40px #ffe002, 0 0 50px #ffe002, 0 0 60px #ffe002, 0 0 70px #ffe002, 0 0 90px #ffe002;
    }

    to {
        color: gray;
        text-shadow: 0 0 20px #ffe002, 0 0 30px #ffe002, 0 0 40px #ffe002, 0 0 50px #ffe002, 0 0 60px #ffe002, 0 0 70px #ffe002, 0 0 80px #ffe002, 0 1 90px #ffe002;
    }
}